<template>
	<div>
		<el-breadcrumb separator-class="el-icon-arrow-right" class="bread">
			<el-breadcrumb-item v-for="(item,index) in bread" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
		<el-row>
			<el-card class="items">
				<!-- 表格数据 -->
				<el-col :span="8">
					<el-input placeholder="请输入内容" v-model="search">
						<template slot="append">
							<el-button>搜索</el-button>
						</template>
					</el-input>
				</el-col>
				<el-col :span="6" :offset="10" style="text-align: right;">
					<el-button type="primary" @click='newCharacter'>新建角色</el-button>
					<el-button :disabled="!hanldselects.length">启动</el-button>
					<el-button :disabled="!hanldselects.length">冻结</el-button>
					<el-button :disabled="!hanldselects.length">删除</el-button>
				</el-col>
				<div class="clear"></div>
			</el-card>
		</el-row>
		<!-- 表格数据 -->
		<el-table :data="tableData"  style="width: 100%" v-loading="lodaing" :row-class-name="tableRowClassName"
			@selection-change="hanldselect"  height="700"  border>
			<el-table-column type="selection" width="40"></el-table-column>
			<el-table-column type="index" label="序号" width="50"></el-table-column>
			<el-table-column prop="name" label="姓名" width="60px"></el-table-column>
			<el-table-column prop="character" label="角色" width="100"></el-table-column>
			<el-table-column prop="account" label="账户"></el-table-column>
			<el-table-column prop="remark" label="评论"></el-table-column>
			<el-table-column prop="reason" label="创建原因"></el-table-column>
			<el-table-column prop="status" label="状态">
				<template slot-scope="scope">
					{{scope.row.status==1?"已启用":"未启用"}}
				</template>
			</el-table-column>
			<el-table-column label="操作" width="210">
				<template slot-scope="scope">
					<el-button size="mini" type="success" @click='edit(scope.row)'>编辑</el-button>
					<el-button size="mini" type="warning" @click='updateStatus(scope.row)'>
						{{scope.row.status==1?"启用":"禁用"}}
					</el-button>
					<el-button size="mini" type="danger">删除</el-button>
					<div class="clear"></div>
				</template>
			</el-table-column>
		</el-table>
		<dialogs :visible='hide' @close='hide=false'></dialogs>
	</div>
</template>

<script>
	import dialogs from './model/dialog.vue'
	import {get} from '../../utils/http.js'
	import bread from "../../mixins/bread.js"
	import {mapMutations} from 'vuex'
	export default {
		mixins: [bread],
		data() {
			return {
				hide:false,
				lodaing: false,
				tableData: [],
				search: '',
				hanldselects: [],
				rowStatus:''
			}
		},
		mounted() {
			this.allData()
		},
		methods: {
			tableRowClassName({row}){
				if(row.status===1){					
					return 'warning-row'
				}else{
					return "success-row"
				}
			},
			hanldselect(selection) {
				this.hanldselects = selection
			},
			allData() {
				this.lodaing = true
				get('/all').then((res) => {
					this.lodaing = false
					this.tableData = res.data.list
					console.log(res)
				})
			},
			...mapMutations(['updateData']),
			edit(rowData){
				this.hide=true;
				this.updateData(rowData)
			},
			updateStatus(rowData){
				console.log(1,rowData.status)
				let rowStatus=rowData.status
				if(rowStatus==1){
					rowStatus==2
				}else if(rowStatus==2){
					rowStatus==1
				}
			},
			newCharacter(){
				this.hide=true
				this.updateData({
					character: '',
					remark: '',
					reason: ''
				})
			}
		},
		components:{
			dialogs
		}
	}
</script>

<style scoped="">
	.items {
		margin-bottom: 15px;
	}
	
</style>
