<template>
	<div>
		<el-breadcrumb separator-class="el-icon-arrow-right">
			<el-breadcrumb-item v-for="(item,index) in bread" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
	</div>
</template>

<script>
	import bread from "../../mixins/bread.js"
	export default {
		mixins:[bread],
		data(){
			return{
				
			}
		}
	}
</script>

<style scoped>

</style>
