<template>
	<div>
		<el-breadcrumb separator=">" class="bread">
			<el-breadcrumb-item v-for="(item, index) in bread" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
		<el-card>
			<el-radio-group v-model="radio" @change="change">
				<el-radio-button :label="1">待审核</el-radio-button>
				<el-radio-button :label="2">审核中</el-radio-button>
				<el-radio-button :label="3">审核通过</el-radio-button>
				<el-radio-button :label="4">审核拒绝</el-radio-button>
				<el-radio-button :label="5">已放款</el-radio-button>
			</el-radio-group>

			<keep-alive>
				<component :is="currentTabComponent" class="tab"></component>
			</keep-alive>
		</el-card>
	
	</div>
</template>

<script>
	import tabs1 from './tabs1.vue'
	import tabs2 from './tabs2.vue'
	import bread from '../../mixins/bread.js'
	export default {
		mixins: [bread],
		data() {
			return {
				radio:1
			}
		},
		computed:{
			currentTabComponent(){
				return "tabs"+this.radio
			}
		},
		methods:{
			change(val) {
				console.log(val,this.radio);
			}
		},
		components:{
			tabs1,tabs2
		}
	}
</script>

<style scoped>

</style>
