<template>
	<div>
		<el-dialog title="提示" :visible="visible" width="30%" center @close="close">
			<el-form :model="ruleForm" :rules="rules" ref='forms'>
				<el-form-item label="角色" label-width="80px" prop="character">
					<el-select v-model="ruleForm.character" >
						<el-option lable='业务人员' value="业务人员">业务人员</el-option>
						<el-option lable='审核人员' value="审核人员">审核人员</el-option>
						<el-option lable='风控经理' value="风控经理">风控经理</el-option>
						<el-option lable='管理员' value="管理员">管理员</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label='备注' label-width="80px" prop="remark">
					<el-input v-model="ruleForm.remark"></el-input>
				</el-form-item>
				<el-form-item label='创建原因' label-width="80px" prop="reason">
					<el-input v-model="ruleForm.reason"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="close">取 消</el-button>
				<el-button type="primary" >确 定</el-button>
			</span>
		</el-dialog>
	</div>
</template>

<script>
	import {mapState} from 'vuex'
	export default {
		props: ['visible'],
		data(){
			return{
				ruleForm: {
					character: '',
					remark: '',
					reason: ''
				},
				rules: {
					character: [{required: true,message: '请选择角色',trigger: 'change'}],
					remark:[{required: true,message: '请填写备注',trigger: 'blur'	}],
					reason:[{required: true,message: '请填写原因',trigger: 'blur'	}],
				}
			}
		},
		computed:{
			...mapState(['rowData']),
		},
		beforeUpdate() {
			this.ruleForm=this.rowData
			console.log(this.rowData)
		},
		methods:{
			close(){
				this.$emit('close')
			}
		}
	}
</script>

<style scoped>

</style>
