<template>
	<div>
		<el-row :gutter="24" class="sitem">
			<el-col :span="6" v-for="(item, index) in dataList" :key="index">
				<el-card :class="'item'+(index+1)">
					<div class="lable">
						<div class="text1 item">
							本月进件
						</div>
						<div class="text2 item">
							{{ item.num }}
						</div>
						<div class="text3 item">
							+{{ item.increase }} 与上月同比
						</div>
					</div>
					<i class="el-icon-document icon"></i>
					<div class="clear"></div>
				</el-card>
			</el-col>
		</el-row>
		<!-- 图表展示 -->
		<el-row :gutter="18" class="sitem">
			<el-col :span="18">
				<el-card class="clearfix" body-style="">
					<div slot="header">
						进货统计
					</div>
					<div ref='analysis' style="height: 200px;"></div>
				</el-card>
			</el-col>
			<el-col :span="6">
				<el-card class="clearfix">
					<div slot="header">
						进货统计
					</div>
					<div ref='analypie' style="height: 200px;"></div>
				</el-card>
			</el-col>
		</el-row>
		<!-- 时间轴 -->
		<el-row :gutter="12">
			<el-col :span="12">
				<el-card body-style="height:500px">
					<el-timeline :reverse="reverse">
						<el-timeline-item v-for="(item, index) in activities" :key="index" :timestamp="item.timestamp" placement="top">
							<el-card>
								<h4>{{item.content}}</h4>
								<p>{{item.timestamp}}</p>
							</el-card>
						</el-timeline-item>
					</el-timeline>
				</el-card>				
			</el-col>
			<!-- 日历 -->
			<el-col :span="12">
				<el-card class="cal" body-style="height:500px">
					<el-calendar></el-calendar>
				</el-card>
			</el-col>
		</el-row>
		
	</div>
</template>

<script>
	export default {
		data() {
			return {
				calendarValue:new Date,
				reverse: true,
				activities: [{
					content: '活动按期开始',
					timestamp: '2018-04-15'
				}, {
					content: '通过审核',
					timestamp: '2018-04-13'
				}, {
					content: '创建成功',
					timestamp: '2018-04-11'
				}],
				dataList:[
					{
						increase: "12.5",
						num: "5694"
					},
					{
						increase: "11.2",
						num: "4278"
					},
					{
						increase: "16.7",
						num: "6954"
					},
					{
						increase: "14.9",
						num: "3514"
					},
				]
			}
		},
		mounted() {
			this.analysis()
		},
		methods: {
			analysis() {
				var myChart = this.$echarts.init(this.$refs['analysis']);
				var myChart1 = this.$echarts.init(this.$refs['analypie']);
				myChart.setOption({
					textStyle:{
						color:'#001'
					},
					top: 10,
					left: 10,
					right: 10,
					bottom: 10,
					title:{
						textStyle:{
							color:'#001'
						},
						text:'数据分析'
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: ['2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08']
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						data: [123, 452, 564, 354, 678, 312, 457],
						type: 'line',
						smooth: true,
						areaStyle: {
							color: {
								type: 'linear',
								x: 0,
								y: 0,
								x2: 0,
								y2: 1,
								colorStops: [{
									offset: 0,
									color: 'blue' // 0% 处的颜色
								}, {
									offset: 1,
									color: 'white' // 100% 处的颜色
								}]
							}
						}
					}]
				})
				myChart1.setOption({
					legend:{
						textStyle:{
							color:'#010'
						},
						left:'center',
						bottom: '0',
						data:['1月','2月','3月','4月','5月']
					},
					series: [{
						name: '进货统计',
						type: 'pie',
						top: -30,
						radius: ['40%', '60%'],
						avoidLabelOverlap: false,
						itemStyle: {
							borderColor: '#fff',
							borderWidth: 1
						},
						label: {
							show: false,
							position: 'center'
						},
						emphasis: {
							label: {
								show: true,
								fontSize: '20',
								fontWeight: 'bold'
							}
						},
						labelLine: {
							show: false
						},
						data: [{
								value: 1048,
								name: '1月'
							},
							{
								value: 735,
								name: '2月'
							},
							{
								value: 580,
								name: '3月'
							},
							{
								value: 484,
								name: '4月'
							},
							{
								value: 300,
								name: '5月'
							}
						]
					}]
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.charts{height: 100px;}
	.sitem {
		margin-bottom: 20px;
	}

	.lable {
		float: left;
	}
	
	.icon {
		float: right;
		font-size: 60px;
	}

	.item1 {
		color: #fff;
		background: #4d87ff;

		.text2 {
			font-weight: bold;
		}
	}

	.item2 {
		background: #f25e75;

		.text2 {
			font-weight: bold;
		}

		color: #fff;
	}

	.item3 {
		background: #504eff;

		.text2 {
			font-weight: bold;
		}

		color: #fff;
	}

	.item4 {
		background: #f3993b;

		.text2 {
			font-weight: bold;
		}

		color: #fff;
	}
</style>
