<template>
	<div>
		<el-container>
			<el-aside width="240px">
				<!-- 侧边栏 -->
				<leftnav></leftnav>
			</el-aside>
			<el-container>
				<el-header>
					<!-- 头部信息 -->
					<headers></headers>
				</el-header>
				<el-main>
					<keep-alive include='customerInfo'>
						<router-view></router-view>
					</keep-alive>
					
				</el-main>
			</el-container>
		</el-container>
	</div>
</template>

<script>
	import leftnav from "../components/leftnav.vue"
	import headers from '@/components/header.vue'
	export default {
		components:{
			headers,leftnav
		}
	}
</script>

<style scoped>
	.el-header {
		background-color: #B3C0D1;
		color: #333;
		line-height: 60px;
	}
	.el-aside {
		color: #fff;
		overflow: hidden;
		background: #545c64;
		line-height: 80px;
		height: auto;
	}
	.el-main {
		background-color: #E9EEF3;
		color: #333;
		height: calc(100vh - 60px) ;
	}
</style>
