<template>
	<div>
		<el-row justify="center" type="flex">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span>德玛西亚金融管理系统</span>
				</div>
				<!-- 登录表单 -->
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="">
					<!-- 填写用户名 -->
					<el-form-item label="用户名" prop="username">
						<el-input v-model="ruleForm.username"></el-input>
					</el-form-item>
					<!-- 填写密码 -->
					<el-form-item label="密码" prop="password">
						<el-input v-model="ruleForm.password" type="password"></el-input>
					</el-form-item>
					<!-- 登录按钮 -->
					<el-form-item>
						<el-button type="primary" class="btn" @click="login">登录</el-button>
					</el-form-item>
				</el-form>			
			</el-card>
		</el-row>
	</div>
</template>

<script>
	import {mapMutations,mapState} from "vuex"
	import {post} from "@/utils/http"
	export default {
		data(){
			return{
				ruleForm:{
					username:'',
					password:''
				},
				rules: {
					username:[
						{required:true, message: '这必须得填啊铁汁！', trigger: 'blur'}
					],
					password:[
						{required:true, message: '这也必须得填啊铁汁！', trigger: 'blur'}
					]
				}
			}
		},
		computed:{		
			localstore(){
				return JSON.parse(sessionStorage.getItem('userinfo'))
			},
			...mapState(['userinfo'])						
		},
		methods:{
			login(){
				post("/login",this.ruleForm).then((res)=>{
					console.log(1,res)
					this.saveuserinfo(res.userinfo)
					this.$router.push({path:'/'})
				},(error)=>{
					console.log(2,error)
				})
			},
			...mapMutations(["saveuserinfo"]),
		}		
	}
</script>

<style scoped="">
	.clearfix{font-size: 24px;font-weight: bold;text-align: center;}
		.box-card {
			width: 480px;
			margin-top: 260px;
		}
		.btn{width: 100%;}
</style>