<template>
	<div>
		<el-row :gutter="16" class="top">
			<!-- 个人信息 -->
			<el-col :span="12">
				<el-card>
					<el-row>
						<el-col :span="6">
							<el-avatar shape="circle" :src="url" fit='fill' :size='120'></el-avatar>
						</el-col>
						<el-col :span="18">
							<div class="text">
								<span>姓名：</span><span>佐助</span>
							</div>
							<div class="text">
								<span>年龄：</span><span>28岁</span>
							</div>
							<div class="text">
								<span>职务：</span><span>产品经理</span>
							</div>
						</el-col>
					</el-row>
				</el-card>
				<!-- 折线图 -->
				<el-card class="rain">
					<div ref='rainChart' style="height: 220px;"></div>
				</el-card>
			</el-col>
			<!-- 人口分析 -->
			<el-col :span="12">
				<el-card>
					<div ref='mychart' style="height:405px"></div>
				</el-card>
			</el-col>
		</el-row>
		<!-- 柱状图 -->
		<el-row>
			<el-card class="info">
				<div ref="chart" style="height: 515px;"></div>
			</el-card>
		</el-row>

	</div>
</template>

<script>
	export default {
		data() {
			return {
				url: require('../images/user.jpg')
			}
		},
		mounted() {
			//饼状图
			var mychart = this.$echarts.init(this.$refs['mychart'])
			mychart.setOption({
				backgroundColor:'#100c2a',
				textStyle:{
					color:'#ffffff',
				},
				label:{
					textStyle:{color:'#ffffff'}
				},
				title: {
					textStyle:{color:'#ffffff'},					
					text: '城市人口',
					subtext: '大数据',
					left: 'center'
				},
				tooltip: {
					trigger: 'item',

				},
				legend: {
					textStyle:{color:'#ffffff'},
					bottom: 10,
					left: 'center',
					data: ['北京', '上海', '南京', '广州', '杭州']
				},
				series: [{
					type: 'pie',
					radius: '65%',
					center: ['50%', '50%'],
					selectedMode: 'single',
					data: [{
							value: 1548,
							name: '北京',
						},
						{
							value: 735,
							name: '上海'
						},
						{
							value: 510,
							name: '南京'
						},
						{
							value: 434,
							name: '广州'
						},
						{
							value: 335,
							name: '杭州'
						}
					],
					emphasis: {
						itemStyle: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}]
			})
			// 折线图
			var rainChart = this.$echarts.init(this.$refs['rainChart'])
			rainChart.setOption({
				color: ['#5470C6', '#EE6666'],
				title:{
					textStyle:{color:'#ffffff'},
					text:'统计数量'
				},
				backgroundColor:'#100c2a',
				textStyle:{
					color:'#ffffff'
				},
				tooltip: {
					trigger: 'none',
					axisPointer: {
						type: 'cross'
					}
				},
				legend: {
					textStyle:{color:'#ffffff'},
					data: ['2015 降水量', '2016 降水量']
				},
				grid: {
					top: 70,
					bottom: 50
				},
				xAxis: [{
						type: 'category',
						axisTick: {
							alignWithLabel: true
						},
						axisLine: {
							onZero: false,
							lineStyle: {
								color: '#5470C6'
							}
						},
						axisPointer: {
							label: {
								formatter: function(params) {
									return '降水量  ' + params.value +
										(params.seriesData.length ? '：' + params.seriesData[0].data : '');
								}
							}
						},
						data: ['2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10',
							'2016-11', '2016-12'
						]
					},
					{
						type: 'category',
						axisTick: {
							alignWithLabel: true
						},
						axisLine: {
							onZero: false,
							lineStyle: {
								color: '#ee6666'
							}
						},
						axisPointer: {
							label: {
								formatter: function(params) {
									return '降水量  ' + params.value +
										(params.seriesData.length ? '：' + params.seriesData[0].data : '');
								}
							}
						},
						data: ['2015-1', '2015-2', '2015-3', '2015-4', '2015-5', '2015-6', '2015-7', '2015-8', '2015-9', '2015-10','2015-11', '2015-12'
						]
					}
				],
				yAxis: [{
					type: 'value'
				}],
				series: [{
						name: '2015 降水量',
						type: 'line',
						xAxisIndex: 1,
						smooth: true,
						emphasis: {
							focus: 'series'
						},
						data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
					},
					{
						name: '2016 降水量',
						type: 'line',
						smooth: true,
						emphasis: {
							focus: 'series'
						},
						data: [3.9, 5.9, 11.1, 18.7, 48.3, 69.2, 231.6, 46.6, 55.4, 18.4, 10.3, 0.7]
					}
				]
			})
			// 柱状图
			var chartData = this.$echarts.init(this.$refs['chart'])
			chartData.setOption({
				title:{
					textStyle:{
						color:'#ffffff',
						lineHeight:60,
						height:80,
					},
					top:'0',
					text:'玩家分布',
					left:'center',
				},
				legend: {
					bottom:'10',
					textStyle:{color:'#ffffff'},
				},
				backgroundColor:'#100c2a',
				textStyle:{color:'#ffffff'},
				label:{
					textStyle:{color:'#ffffff'},
				},
				tooltip: {},
				dataset: {
					dimensions: ['product', '2018', '2019', '2020'],
					source: [{
							product: '黑色玫瑰',
							'2018': 43.3,
							'2019': 85.8,
							'2020': 93.7
						},
						{
							product: '征服之海',
							'2018': 83.1,
							'2019': 73.4,
							'2020': 55.1
						},
						{
							product: '班德尔城',
							'2018': 86.4,
							'2019': 65.2,
							'2020': 82.5
						},
						{
							product: '巨神峰',
							'2018': 72.4,
							'2019': 53.9,
							'2020': 39.1
						}
					]
				},
				xAxis: {
					type: 'category'
				},
				yAxis: {},
				series: [{
						type: 'bar'
					},
					{
						type: 'bar'
					},
					{
						type: 'bar'
					}
				]
			})
		}
	}
</script>

<style scoped="">
	.top {
		margin-bottom: 15px;
	}
	.rain{
		margin-top: 20px;
		/* background-color: #100c2a; */
		/* color: #fff; */ 
	}
	.headphoto {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 1px solid #eee;
		overflow: hidden;
	}

	.text {
		font-weight: bold;
		font-size: 18px;
		color: #999;
	}
</style>
