<template>
	<el-table :data="datas" style="width: 100%" :row-class-name="tableRowClassName">
		<el-table-column type="selection" width="50"></el-table-column>
		<el-table-column type="index" label="序号" width="60"></el-table-column>
		<el-table-column prop="name" label="姓名" width="100"></el-table-column>
		<el-table-column prop="character" label="角色" width="120"></el-table-column>
		<el-table-column prop="account" label="账户" width="180"></el-table-column>
		<el-table-column prop="remark" label="评论" width="400"></el-table-column>
		<el-table-column prop="reason" label="创建原因"></el-table-column>
		<el-table-column prop="status" label="状态">
			<template slot-scope="scope">
				{{scope.row.status==1?"已启用":"未启用"}}
			</template>
		</el-table-column>
	</el-table>
</template>

<style>
	.el-table .warning-row {
		background: oldlace;
	}

	.el-table .success-row {
		background: #f0f9eb;
	}
</style>

<script>
	import {get} from '../utils/http.js'
	export default {
		created() {
			get('/all').then((res) => {
				this.datas=res.data.list
			})
		},
		methods: {
			tableRowClassName({row}) {
				if (row.status === 1) {
					return 'warning-row';
				} else if (row.status === 2) {
					return 'success-row';
				}
				return '';
			}
		},
		data() {
			return {
				datas: [],
			}
		}
	}
</script>
