<template>
	<div>
		<el-card class="process">
			<div slot="header" class="title">数据可视化</div>
			<div ref="chart" style="height: 800px;"></div>
		</el-card>
	</div>
</template>

<script>
	export default {
		data() {
			return{
				mounth:['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
				temp:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 18.2]
			}
		},
		mounted() {
			var chart = this.$echarts.init(this.$refs['chart'])
			chart.setOption({
				textStyle:{
					color:'#ffeffe'
				},
				title: {
					textStyle:{
						color:'#ffeffe'
					},
					text: '数据分析',
					left: 'center'
				},
				backgroundColor:'#100c2f',
				legend: {
					textStyle:{
						color:'#ffeffe'
					},
					bottom:'5',
					data: ['蒸发量', '降水量', '平均温度']
				},
				xAxis: [{
					type: 'category',
					data: this.mounth,
					axisPointer: {
						type: 'shadow'
					}
				}],
				yAxis: [{
						type: 'value',
						name: '水量',
						min: 0,
						max: 250,
						interval: 50,
						axisLabel: {
							formatter: '{value} ml'
						}
					},
					{
						type: 'value',
						name: '温度',
						min: 0,
						max: 25,
						interval: 5,
						axisLabel: {
							formatter: '{value} °C'
						}
					}
				],
				series: [{
						name: '蒸发量',
						type: 'bar',
						data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
					},
					{
						name: '降水量',
						type: 'bar',
						data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
					},
					{
						name: '平均温度',
						type: 'line',
						yAxisIndex: 1,
						data:this.temp
					}
				]
			})
		}
	}
</script>

<style scoped>
	.process {
		width: 100%;
	}
	.title{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
	}
</style>
