<template>
	<div>
		<el-breadcrumb separator-class="el-icon-arrow-right" class="bread">
			<el-breadcrumb-item v-for="(item,index) in bread" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
		<el-card style="margin: 15px 0 15px 0;">
			<el-row :gutter="10">
				<el-col :span="6">
					<el-input placeholder="产品名称"></el-input>
				</el-col>
				<el-col :span="6">
					<el-select v-model="searchValue" placeholder="利率" style="width: 100%;">
						<el-option label="3.8%" value="3.8"></el-option>
						<el-option label="3.9%" value="3.9"></el-option>
						<el-option label="4.1%" value="4.1"></el-option>
						<el-option label="4.3%" value="4.3"></el-option>
					</el-select>
				</el-col>
				<el-col :span="6">
					<el-date-picker style="width: 100%;" v-model="date" type="daterange" range-separator="至" end-placeholder="结束日期" start-placeholder="开始日期">
					</el-date-picker>
				</el-col>
				<el-col :span="6">
					<el-button type="primary" @click="search">查询</el-button>
					<el-button type="primary">重置</el-button>
					<span class="expand" v-show="visibles" @click="show">展开
						<i class="el-icon-arrow-down"></i>
					</span>
					<span class="expand" v-show="!visibles" @click="show">收起
						<i class="el-icon-arrow-up"></i>
					</span>
				</el-col>
			</el-row>
			<el-row :gutter="10" v-show="!visibles" style="margin-top: 15px;">
				<el-col :span="6">
					<el-input placeholder="产品名称"></el-input>
				</el-col>
				<el-col :span="6">
					<el-input placeholder="产品名称"></el-input>
				</el-col>
				<el-col :span="6">
					<el-input placeholder="产品名称"></el-input>
				</el-col>
			</el-row>
		</el-card>
		<!-- 产品数据 -->
		<el-table :data="tableData" border style="width: 100%" v-loading='loading' height="720" :row-class-name="styleClass">
			<el-table-column type="selection" width="40"></el-table-column>
			<el-table-column prop="id" label="序号" width="180">	</el-table-column>
			<el-table-column prop="name" label="产品名称" width="180"></el-table-column>
			<el-table-column prop="number" label="数量"></el-table-column>
			<el-table-column prop="average" label="平均"></el-table-column>
			<el-table-column prop="date" label="日期"></el-table-column>
			<el-table-column prop="limit" label="限制"></el-table-column>
			<el-table-column prop="type" label="类型"></el-table-column>
			<el-table-column prop="rate" label="利率"></el-table-column>
			<el-table-column prop="total" label="总金额"></el-table-column>
			<el-table-column prop="highest" label="最高"></el-table-column>
			<el-table-column prop="status" label="状态">
				<template slot-scope="scope">
					{{scope.row.status==1?"已启用":"未启用"}}
				</template>
			</el-table-column>
			<el-table-column label="操作" width="150">
				<template slot-scope='scope'>
					<el-button :type="scope.row.status==1?'danger':'warning'" size="mini">{{scope.row.status==1?'禁止':'启用'}}</el-button>
					<el-button type="success" size="mini" @click='details'>详情</el-button>
				</template>
			</el-table-column>
		</el-table>
	</div>
</template>

<script>
	import moment from 'moment'
	import {get} from '../../utils/http.js'
	import bread from '../../mixins/bread.js'
	export default {
		mixins: [bread],
		data() {
			return {
				loading:false,
				visibles: true,
				searchValue: '',
				date: '',
				tableData:[],
				params:{
					startDate:'',
					endDate:'',
					
				}
			}
		},
		mounted() {
			this.params.startDate=moment(this.date[0]).format('YYYY-MM-DD')
			this.params.endDate=moment(this.date[1]).format('YYYY-MM-DD')
			this.loading=true
			get('/productList').then((res)=>{
				this.loading=false
				this.tableData = res.data.list
			})
		},
		created(){
			console.log('执行')
		},
		methods: {
			
			show() {
				this.visibles = !this.visibles
			},
			styleClass({row}){
				if(row.status==1){
					return 'success-row'
				}else{
					return "warning-row"
				}
			},
			search(){
				console.log(moment(this.date[0]).format('YYYY-MM-DD'))
				console.log(this.params.startDate)
				console.log(this.params.endDate)
			},
			details(){
				this.$router.push({path:'/product/details'} )
			}
		}
	}
</script>

<style scoped>
	.expand {
		color: #409eff;
		margin-left: 10px;
	}
</style>
