<template>
  <div id="com_header">
    <p class="date">
      {{ infoname }}今天是您在本系统的第<span class="days">{{ time }}</span>天!
    </p>
    <div class="userinfo">
      <el-dropdown>
        <span class="el-dropdown-link">
          {{ infoname }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="a">个人中心</el-dropdown-item>
          <el-dropdown-item command="b">修改密码</el-dropdown-item>
          <el-dropdown-item command="c">
            <div @click="logout">退出登录</div>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { parseInfo } from "@/utils/parseInfo";
import { get } from "@/utils/http";
export default {
  data() {
    return {
      time: "",
      // username:parseInfo().name
    };
  },
  computed: {
    infoname() {
      return parseInfo().name;
    },
  },
  created() {
    get("/time").then((res) => {
      let olddate = new Date(res.time);
      let newdate = new Date();
      let day = newdate - olddate;
      this.time = Math.floor(day / 1000 / 60 / 60 / 24);
    });
  },
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push({ path: "/login" });
    },
  },
};
</script>

<style lang="less" scoped="">
#com_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .userinfo {
    float: right;
    margin-left: 50px;
  }
  .welcome {
    float: right;
  }
  .date {
    float: right;
    .days {
      font-size: 24px;
      font-weight: bold;
      color: #0e45fa;
    }
  }
}
</style>
