<template>
	<div>
		<h3 style="text-align: center;">金融管理系统</h3>
		<div class="left">
			<el-menu default-active="2" unique-opened :router="true"
				class="el-menu-vertical"
				background-color="#545c64" 
				text-color="#fff" 
				active-text-color="#409eff">
				<dy-menu v-for="(item,index) in menuData" :menu="item" :key='index+"a"'></dy-menu>
			</el-menu>
		</div>
	</div>	
</template>

<script>
	import dyMenu from "./dynamicnav.vue"
	import {get} from '../utils/http.js'
	export default {
		data() {
			return {
				menuData:[]
			}
		},
		created() {
			get("/menu").then((res)=>{
				this.menuData = res.data
			})
		},
		components:{
			dyMenu
		}
	}
</script>

<style lang="less" scoped="">
	.left{
		width: 240px;
		background-color: #545c64;
		
	}
	.el-menu-vertical{width: 240px;}
</style>
