<template>
	<div>
		<!-- 面包屑 -->
		<el-breadcrumb separator-class="el-icon-arrow-right" class="bread">
			<el-breadcrumb-item v-for="(item,index) in bread" :key="index">{{item}}</el-breadcrumb-item>
		</el-breadcrumb>
		<el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" 
			border height="710px">
			<el-table-column type="selection"></el-table-column>
			<el-table-column prop="id" label="序号"></el-table-column>
			<el-table-column prop="customer" label="客户"></el-table-column>
			<el-table-column prop="name" label="贷款名称"></el-table-column>
			<el-table-column prop="tel" label="联系电话"></el-table-column>
			<el-table-column prop="type" label="消费类型"></el-table-column>
			<el-table-column prop="amount" label="总额"></el-table-column>
			<el-table-column prop="address" label='地址'></el-table-column>
			<el-table-column prop="date" label='日期'></el-table-column>
			<el-table-column prop="status" label='状态'>
				<template slot-scope='scoped'>
					{{scoped.row.status==1?'启用':'未启用'}}
				</template>
			</el-table-column>
			<el-table-column prop="operation" label='操作'>
				<template>
					<el-button size="mini" type="success">启用</el-button>
					<el-button size="mini" type="danger">禁止</el-button>
				</template>
			</el-table-column>
		</el-table>
		<el-card style="margin-top: 15px;">
			<el-col style="text-align: right;">
				<el-pagination background
					@size-change="handleSizeChange"
					:page-size="pageSize"
					@current-change="handleCurrentChange"
					:current-page="currentPage"
					layout="total, prev, pager, next, jumper"
					:total="totalPage">
				</el-pagination>
			</el-col>
			<div class="clear"></div>
		</el-card>
	</div>
</template>

<script>
	import {get} from '../../utils/http.js'
	import bread from "../../mixins/bread.js"
	export default {
		name:"customerInfo",
		mixins: [bread],
		data(){
			return{
				tableData:[],
				pageSize:10,
				currentPage:1,
				totalPage:1				
			}
		},
		mounted() {
			this.loadData()
			console.log('执行')
		},
		methods:{
			loadData(){
				get('/customer').then((res)=>{
					let datas = res.data.list
					this.tableData = datas
					this.totalPage = datas.length
				})
			},
			handleCurrentChange(val){
				this.currentPage = val
			},
			handleSizeChange(val){				 
				// 改变每页显示的条数 
				this.pageSize=val
				// 注意：在改变每页显示的条数时，要将页码显示到第一页
				console.log(val)
			},
				
		}
		
	}
</script>

<style scoped>

</style>